<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /frameworks_a3/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /frameworks_a3/index.html [L]
</IfModule>
